<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>its working bro!!</title>
</head>
<body>
<h1>Welcome to Text Analyzer . Enter your text below</W></h1>
<form action="/analyze" method="get">
    <textarea name="Text" style="margin: 0px; width: 1514px; height: 68px;"></textarea>
    <input type="checkbox" name="removepunc">remove punctuations<br>
    <input type="checkbox" name="UPPERCASE">Change to UPPERCASE<br>
    <input type="checkbox" name="spaceremover">Remove the spaces<br>
    <input type="checkbox" name="charcount">Count the no. of character<br>
    <input type="checkbox" name="newlineremover">Remove the newline<br>
    <button type="submit">Analyze Text</button>
</form>
</body>
</html>